<app-header [headerModel]="headerModel"></app-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12" size-md="6">
          <ion-card>
            <ion-item lines="none">
              <ion-card-header>
                <ion-card-subtitle>Bill To <span class="required-field"></span></ion-card-subtitle>
                <ion-card-title> {{customer!=undefined?customer.companyName:'Select the Customer'}}</ion-card-title>
                <ion-card-subtitle>{{customer?.firstName}} {{customer?.lastName}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="customer">+91 {{customer?.phoneNumber}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="customer">
                  {{customer?.addressLine1}}, {{customer?.addressLine2}},
                  {{customer?.city}}, {{customer?.state}}, {{customer?.country}} <br />
                  {{customer?.email}} <br />
                  {{customer?.phoneNumber}} <br />
                  {{customer?.gstNumber}}
                </ion-card-subtitle>
              </ion-card-header>

              <ion-buttons slot="end" class="select-customer-btn">
                <app-select-customer (customerDetailSelectionChange)="customerSelectableChange($event)">
                </app-select-customer>
              </ion-buttons>

            </ion-item>

          </ion-card>

        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6">
          <ion-card>
            <ion-item lines="none">
              <ion-card-header>
                <ion-card-subtitle>Bill From</ion-card-subtitle>
                <ion-card-title>{{organization?.companyName}}</ion-card-title>
                <ion-card-subtitle>{{organization?.firstName}} {{organization?.lastName}}</ion-card-subtitle>
                <ion-card-subtitle>+91 {{organization?.phoneNumber}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="organization">
                  {{organization?.addressLine1}}, {{organization?.addressLine2}},
                  {{organization?.city}}, {{organization?.state}}, {{organization?.country}} <br />
                  {{organization?.email}} <br />
                  {{organization?.phoneNumber}} <br />
                  {{organization?.gstNumber}}
                </ion-card-subtitle>
              </ion-card-header>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="orderDetail">
        <ion-col>
          <ion-item>
            <ion-label color="primary">Order No:</ion-label>
            <ion-input type="number" class="ion-text-right" slot="end" formControlName="orderNumber" readonly="true">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Invoice No<span class="required-field"></span> : </ion-label>
            <ion-input type="text" class="ion-text-right" slot="end" formControlName="invoiceNumber"
              placeholder="Enter invoiceNumber...">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Reference : </ion-label>
            <ion-input type="text" class="ion-text-right" slot="end" formControlName="reference"
              placeholder="Enter Value...">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label color="primary"> Order Date<span class="required-field"></span> : </ion-label>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD" #orderDateCtrl formControlName="orderedDate"
              (ionChange)="orderDateChanges()" placeholder="Select Date">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label color="primary"> Estimate Delivery Date<span class="required-field"></span> : </ion-label>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD" [min]="orderDateCtrl.value" formControlName="estimatedDeliveryDate"
              placeholder="Select Date">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Amount paid: </ion-label>
            <ion-input slot="end" class="ion-text-right" type="number" formControlName="amountPaid" #amountPaidCtrl
              (ionChange)="isAmountPaidShouldNotGreaterThanFinalAmount()" placeholder="Enter Paid Amount">
            </ion-input>
          </ion-item>

          <ion-item [hidden]="!this.saveOrupdate" *ngIf="amountPaidCtrl.value>0">
            <ion-label color="primary">Payment Mode: </ion-label>
            <ion-select formControlName="paymentMode" interface="popover" placeholder="Select Payment Mode">
              <ion-select-option *ngFor="let pm of paymentModeArray | enumToArray" [value]="pm.key">
                {{pm.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item [hidden]="!this.saveOrupdate" *ngIf="amountPaidCtrl.value>0">
            <ion-label color="primary">Payment Reference: </ion-label>
            <ion-input slot="end" class="ion-text-right" type="text" formControlName="paymentReference"
              placeholder="Enter Payment Reference">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="orderDetail">
        <ion-col class="add-edit-order-details-table-container">

          <table *ngIf="dataSource!=null || dataSource.data.length>0" mat-table [dataSource]="dataSource"
            multiTemplateDataRows>
            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> Name </ion-label>
              </th>
              <td mat-cell *matCellDef="let row" [class.example-expanded-row]="expandedElement === row"
                (click)="expandedElement = expandedElement === row ? null : row">
                <ion-label style="cursor: pointer;">{{row.productName}}</ion-label>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> Price </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <!-- <ion-input type="number" readonly="true" name="price" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="row.price" min=0 inputmode="decimal">
                </ion-input> -->
                {{row.price | number: '1.2-2'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> Qty </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <ion-input class="native-input-custom" type="number" name="quantity"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="row.quantity" min="1" inputmode="decimal"
                  (ionChange)="orderItemFieldsChange(row)">
                </ion-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="discount">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> Discount </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <ion-input class="native-input-custom" type="number" name="discountUser"
                  [ngModelOptions]="{standalone: true}" inputmode="decimal" [(ngModel)]="row.discountUser" min="0"
                  (ionChange)="orderItemFieldsChange(row)"></ion-input>
                <ion-label class="ion-label-bottom" *ngIf="row.discountActual>0">({{row.discountTax}})</ion-label>
              </td>
            </ng-container>

            <ng-container matColumnDef="subTotal">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> Sub-Total </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <!-- <ion-input type="number" name="subTotal" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="row.subTotal" readonly="true">
                </ion-input> -->
                {{row.subTotal | number: '1.2-2'}}
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="gstPercentage">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> GST % </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <ion-input type="number" name="gstPercentage" readonly="true" [ngModelOptions]="{standalone: true}" inputmode="decimal"
                  [(ngModel)]="row.gstPercentage"></ion-input>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="gstAmount">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> GST </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <!-- <ion-input type="number" name="gstAmount" readonly="true" [ngModelOptions]="{standalone: true}"
                  inputmode="decimal" [(ngModel)]="row.gstAmount"></ion-input> -->
                {{row.gstAmount | number: '1.2-2'}}
                <ion-label class="ion-label-bottom">
                  ({{row.gstIncluded?'incl':'excl'}}- {{row.gstPercentage}} %)</ion-label>

              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="cgstAmount">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> CGST </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <ion-input type="number" name="cgstAmount" readonly="true" [ngModelOptions]="{standalone: true}" inputmode="decimal"
                  [(ngModel)]="row.cgstAmount" ></ion-input>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="totalAmount">
              <th mat-header-cell *matHeaderCellDef>
                <ion-label color="primary"> Total </ion-label>
              </th>
              <td mat-cell *matCellDef="let row">
                <!-- <ion-input type="number" name="totalAmount" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="row.totalAmount" readonly="true">
                </ion-input> -->
                {{row.totalAmount | number: '1.2-2'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="action-btn">
                <!-- <ion-label color="primary"> Action </ion-label> -->
              </th>
              <td mat-cell *matCellDef="let row" class="action-btn">
                <ion-buttons>
                  <ion-button (click)="onDeleteRow(row)">
                    <ion-icon color="danger" slot="icon-only" name="close-circle-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"> </tr>
          </table>


        </ion-col>
      </ion-row>

      <ion-row *ngIf="orderDetail">
        <ion-col size-sm="6">
          <ion-item lines="none">
            <ion-label slot="start" color="primary">Sub-Total:
            </ion-label>
            <ion-input class="ion-text-right" type="number" formControlName="subTotal" readonly="true">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start" color="primary">CGST:
            </ion-label>
            <ion-input class="ion-text-right" type="number" formControlName="cgstAmount" readonly="true">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start" color="primary">SGST:
            </ion-label>
            <ion-input class="ion-text-right" type="number" formControlName="sgstAmount" readonly="true">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="6">
          <ion-item lines="none">
            <ion-label slot="start" color="primary">Total: </ion-label>
            <ion-input class="ion-text-right" type="number" formControlName="total" readonly="true">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start" color="primary">Round Off: </ion-label>
            <ion-input class="ion-text-right" type="number" formControlName="roundOffAmount" readonly="true">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start" color="primary">Final Amount: </ion-label>
            <ion-input class="ion-text-right" type="number" formControlName="finalAmount" readonly="true">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-button expand="block" color="primary" (click)="onClick()">
            <ion-label color="light"> {{displayButtonText}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size-sm="3">
          <ion-button expand="block" color="danger" (click)="onCancel()">
            <ion-label color="light"> Cancel</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <app-select-product [selectedProductDetail]="selectProductDetailList" [deletedProductDetail]="deletedOrderItem"
        (productDetailSelectionChange)="productDetailLocalSelectableChange($event)">
      </app-select-product>
    </ion-fab-button>
  </ion-fab>

</ion-content>