@import url("../order-add-edit/order-add-edit.component.scss");

/*   dff */
p {
  font-size: small;
  margin: 0px;

  span {
    display: block;
    font-size: medium;
    text-align: right;
  }
}

ion-card-title {
  color: var(--ion-color-primary);
}

table tr th:first-child,
table tr td:first-child {
  padding: 0px;
  min-width: 150px;
}

table ion-input {
  --padding-start: 0px;
}

.native-input-custom {
  max-width: 50px;
  border-color: unset;
  border-width: 0.1px;
  border-bottom-style: solid;
}

@media screen and (max-width: 576px) {
  p {
    font-size: x-small;
    margin: 0px;

    span {
      display: block;
      font-size: small;
      text-align: right;
    }
  }

  table tr th:first-child,
  table tr td:first-child {
    padding: 0px;
    min-width: 80px;
  }
}
