.login-logo {
  padding: 20px 0;
  min-height: 50px;
  text-align: center;
}

.login-logo img {
  max-width: 50px;
}

.list {
  margin-bottom: 0;
}
// ion-row {
//   text-align: center;
//   }

// ion-row ion-col .login-logo {
//   padding: 20px 0;
//   min-height: 200px;
// }

// ion-row ion-col ion-img {
//   width: 150px;
// }
