/** Action sheet - icon colors */
.action-sheet-primary {
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
}

.action-sheet-secondary {
  ion-icon {
    color: var(--ion-color-secondary) !important;
  }
}

.action-sheet-tertiary {
  ion-icon {
    color: var(--ion-color-tertiary) !important;
  }
}

.action-sheet-success {
  ion-icon {
    color: var(--ion-color-success) !important;
  }
}

.action-sheet-warning {
  ion-icon {
    color: var(--ion-color-warning) !important;
  }
}

.action-sheet-danger {
  ion-icon {
    color: var(--ion-color-danger) !important;
  }
}

.action-sheet-google {
  ion-icon {
    color: var(--ion-color-google) !important;
  }
}

.action-sheet-instagram {
  ion-icon {
    color: var(--ion-color-instagram) !important;
  }
}

.action-sheet-facebook {
  ion-icon {
    color: var(--ion-color-facebook) !important;
  }
}

.action-sheet-twitter {
  ion-icon {
    color: var(--ion-color-twitter) !important;
  }
}

.action-sheet-close {
  ion-icon {
    color: var(--ion-color-danger) !important;
  }
}

.action-sheet-edit {
  ion-icon {
    color: var(--ion-color-secondary) !important;
  }
}

.action-sheet-view {
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
}

.action-sheet-delete {
  ion-icon {
    color: var(--ion-color-warning) !important;
  }
}
/** Action sheet - icon colors -END */

.action-sheet-css {
  .action-sheet-title {
    background-color: var(--ion-color-light) !important;
    color: var(--ion-color-light-contrast) !important;
  }
}
