<app-header [headerModel]="headerModel"></app-header>

<ion-content>
  <div class="mat-elevation-z8">
    <div *ngIf="isLoadingResults">
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    </div>
    <table mat-table [dataSource]="paymentHistoryDataSource" matSort matSortDirection="desc" matSortDisableClear
      matSortActive="createdDate" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label color="primary"> Amount </ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-label [color]="row.paymentStatus==paymentStatusLocal.DELETED?'danger':''">
            {{row.amount}}
          </ion-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentMode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label color="primary"> Payment Mode </ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.paymentMode}}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label color="primary"> Payment Date </ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-label *ngIf="row.paymentStatus==paymentStatusLocal.DELETED">
            {{row.updatedDate | date}}
          </ion-label>
          <ion-label *ngIf="row.paymentStatus!=paymentStatusLocal.DELETED">
            {{row.createdDate | date}}
          </ion-label>

        </td>
      </ng-container>

      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label color="primary"> Status </ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.paymentStatus}}
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentReference">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label color="primary"> Reference </ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.paymentReference}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label color="primary"> Action </ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-buttons>
            <!-- <ion-button color="dark" (click)="presentActionSheet(row)"> -->
            <ion-button color="dark">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row">
      </tr>
    </table>
    <app-no-data-message *ngIf="resultsLength===0" [displayData]="resultsLength"> </app-no-data-message>

    <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</ion-content>